/* custom css goes here */
.siteBackground {
    background-image: url('/Public/Assets/images/greenBackground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  a {
    color: greenyellow;
  }
  body
  {
    background-image: url('../Assets/images/greenBackground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
 h1, p{
   color:beige;
 }
