<!--
  Name: Andre Agrippa
  Date: 04/14/2021
  Purpose: Page for about me.
-->
<h1>About Me</h1>
<h3>Andre Agrippa</h3>
<img src="/Assets/images/andrelogo.JPG" alt="" width="300" height = "300"/>
<p>I'm a 2nd year student at Durham College in the Computer Programming and Analysis program. 
    I've been coding for several years now because I enjoy it and always looking to improve in this aspect. 
    You can download my resume below.</p>
    <a class = "fa-lg" href="/Assets/resume/andre_resume.pdf" download>Resume Download</a></br></br>
    