<h1>About Me</h1>
<h3>Andre Agrippa</h3>
<p>I'm a 2nd year student at Durham College in the Computer Programming and Analysis program. 
    I've been coding for several years now because I enjoy it and always looking to improve in this aspect.</p>