<h1>Welcome to my portfolio!</h1>
<h2>Mission Statement</h2>
<p>The purpose of my portfolio is to display the skills that I have as a programmer so that 
    the viewer of this web page can gauge the level my abilities.   </p>

