<h1>Welcome to my portfolio!</h1>
<br/>
<h3 class = "text-center">The purpose of my portfolio is to display the skills that I have as a programmer so that 
    the viewer of this web page can understand the level my abilities.</h3>

