<h1>My Projects</h1>
<h3>C# Windows Forms App: Durak Card Game</h3>
<p>This project allows the user to play a game of Durak. Writes logs for player statistics and game events (card played, roles swapped)</p>
<img src="/Assets/images/p1.png" alt="" width="500" height = "300"/>
<h3>Project Two: C#, XAML, MDF Preferred Shares and Common Shares</h3>
<p>This project uses XAML for the windows form and a database to keep track of common and preferred shares. 
    The database keeps track of how many shares(common/preferred) are available and validation is applied.</p>
    <img src="/Assets/images/p2.png" alt="" width="600" height = "350"/>
<h3>Project Three: ASP.NET and MVC Framework Animal Shelter</h3>
<p>This project is a web application that keeps track of animals, owners, appointment and login info in a database. 
    Relational database concepts are applied.</p>
    <img src="/Assets/images/p3.png" alt="" width="700" height = "350"/>