<h1>My Projects</h1>
<h3>Web Development:</h3>
<p>I offer a variety of different web development services(Front-end, Back-end, Databases). Languages (PHP, JavaScript, )</p>
<img src="/Assets/images/s1.jpg" alt=""/>
<h3>OOP Programming</h3>
<p>I offer a variety of different Object Oriented Programming. 
    I'm experienced with C#, C++, Java etc. Whether it be windows forms applications, console applications GUI, etc.</p>
<h3>Database Management System</h3>
<p>It's been almost 3 years since I've had experience in database development. 
    I've used software such as Microsoft SQL Server and PgAdmin4. Experienced with relational database concepts.</p>